<html>
<head>
<title>Estudando JavaScript</title>
 
<style type="text/css">
  input {margin-bottom: 3px; margin-top: 3px}
</style>
 
<script language="JavaScript">
  function validar(){
    // só permitirá o envio se os dados forem fornecidos
    if(document.login.nome.value == ""){
      alert("Forneça o nome do usuário");
      document.login.nome.focus();
      return false;
    }
    else if(document.login.senha.value == ""){
      alert("Forneça a senha do usuário");
      document.login.senha.focus();
      return false;
    }
    else{
      return true;
    }
  }
</script>
 
</head>
<body>
 
<form name="login" action="gravar.php" method="post" 
     onsubmit="return validar()">
  Usuário:<br>
  <input type="text" id="nome" name="nome"><br>
  Senha:<br>
  <input type="password" id="senha" name="senha"><br>
  <input type="submit" value="Entrar!">
</form>
  
</body>
</html>